<div class="caja-Servicios">
    <h1>SERVICIOS</h1>
    <div class="franja"></div>
    <br>
    <div class="row">
        <div class="col-4">
            <img src="./../../../assets/img/planteamiento.png" alt="">
            <br>
            <h2>Planeamiento</h2>
            <p>Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es fácil. Haz clic en Editar Texto o doble clic aquí para agregar tu contenido y cambiar la fuente. En este espacio puedes contar tu historia y permitir a tus usuarios saber más
                sobre ti.</p>
        </div>
        <div class="col-4">
            <img src="./../../../assets/img/maquetas.png" alt=" ">
            <br>
            <h2>Maquetas</h2>
            <p>Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es fácil. Haz clic en Editar Texto o doble clic aquí para agregar tu contenido y cambiar la fuente. En este espacio puedes contar tu historia y permitir a tus usuarios saber más
                sobre ti.</p>
        </div>
        <div class="col-4">
            <img src="./../../../assets/img/construccion.png" alt=" ">
            <br>
            <h2>Construcción</h2>
            <p>Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es fácil. Haz clic en Editar Texto o doble clic aquí para agregar tu contenido y cambiar la fuente. En este espacio puedes contar tu historia y permitir a tus usuarios saber más
                sobre ti.</p>
        </div>

    </div>
</div>